# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# env
.env

# data and outputs
/data/raw/*
/data/interim/*
/data/processed/*
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/processed/.gitkeep
/models/*
!/models/.gitkeep
/reports/*.html
/reports/*.csv
/reports/*.json

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
